body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(5, 65, 85);
}
.Equation{
    font-size: 30px;
    font-weight: bold;
    color: white;
    /* margin-bottom: 10px; */
    padding: 5px;
    text-align: center;
    /* background-color: #499bb1; */
}
#grad9{
    color: white;
    margin-bottom: 5px;
    padding: 2px;
}

.app {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    width: 100%;
    /* max-width: 1200px;  */
}

.calculator,
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%; 
    min-width: 300px; 
}



input {
    width: 95%; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 19%;
    padding: 10px;
    background-color: #499bb1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 20px;
}

h1 {
    text-align: center;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}
.result {
    font-size: 18px;
    color: black;
  }

  .error {
    color: red; 
    font-weight: bold; 
  }
a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block; 
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold

    
}
a:hover{
    color:rgb(37, 226, 37);
    text-decoration: underline;
}
#delite{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    border-radius: 20px;
    background-color: rgb(203, 32, 32);
}
#delite:hover{
    background-color: red
}

/* responsive */

@media (max-width: 850px){
  .app{
        /* background-color:aqua; */
        flex-direction: column;
        gap:10px;
    }
    .calculator{
        /* background-color:aqua; */
        width: 10px;

    }
    #delite{
        text-align: center;
        margin-left: 3px;
    }
}

